body{
  background-color: antiquewhite !important;
}
header{
  display: block;
  background-color: rgb(16, 16, 117);
}
header img{
  margin-left: 5%;
  width: 7%;
}
header a{
  color: antiquewhite;
  text-decoration: none;
  font-family:'Courier New', Courier, monospace;
  margin-top: 2%;
  font-size: 1.5rem;
  padding-right: 2%;
}
