<div class="inicio"> 
    <form action='@Url.Action("ConfigurarJuego")' aria-required="true">
        <button type="submit" class="btn btn-success" name="dificultad">Iniciar</button>
    </form>
</div>

